<header class="container-fluid">
  <app-strip></app-strip>
</header>
<main class="container-lg bg-light p-3">
  <p class="alert alert-warning lead my-4 py-4">
    Hello! here you can get the price of crypto coins for which amount just you
    want
  </p>
  <div class="row">
    <div class="col-lg-6">
      <app-exchange-form (sendValues)="calc($event)"></app-exchange-form>
    </div>

    <div class="col-lg-6">
      <app-view-result
        [result]="result"
        [cryptoSrc]="cryptoSrc"
      ></app-view-result>
    </div>
  </div>
  <app-footer></app-footer>
</main>
